div(ng-controller="RecordCtrl")
    div(flex layout="row" layout-align="center")
    div(layout="column" layout-align="center")
        md-button(class="md-primary" ng-click="goApp('home')" aria-label="return" style="min-width:200px;") 回上一頁
