<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> </title>
</head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
}

li {
    float: left;
}

li a {
    font-size: 1.87em;
	font-weight: bold;
    display: block;
    color: orange;
    text-align: center;
    padding: 18px 100px;
    text-decoration: none;
}
</style>
<body>
<ul>
  <li><a href="">Home</a></li>
  <li><a href="">About</a></li>
  <li style="float:right"><a href="">Login</a></li>
</ul>
</body>
</html>