doctype html
html
    head
        meta(charset="utf-8")
        title NCCU SE Final
        <!--link(rel="stylesheet", href="static/css/index.css")-->
        link(rel="stylesheet", href="static/css/app.css")
        link(rel="stylesheet", href="static/css/navbar.css")
        link(rel="stylesheet", href="static/css/footer.css")
        link(rel="stylesheet", href="bower_components/angular-material/angular-material.css")
        link(rel="stylesheet", href="bower_components/angular-material-datetimepicker/css/material-datetimepicker.min.css")
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
    body(ng-app="policeApp")
        .wrapper
            div(ng-include="'components/navbar/navbar.html'")
            md-card-content(flex)
                div(ui-view="")
            div(ng-include="'components/footer/footer.html'")
            script(src="bower_components/jquery/dist/jquery.js")
            script(src="bower_components/angular/angular.js")
            script(src="bower_components/angular-aria/angular-aria.js")
            script(src="bower_components/angular-animate/angular-animate.js")
            script(src="bower_components/angular-material/angular-material.js")
            script(src="bower_components/angular-messages/angular-messages.js")
            script(src="bower_components/angular-ui-router/release/angular-ui-router.js")
            script(src="bower_components/momentjs/moment.js")
            script(src="bower_components/angular-material-datetimepicker/js/angular-material-datetimepicker.min.js")
            script(src="app/app.js")
            script(src="app/login/login.js")
            script(src="app/login/login.controller.js")
            script(src="app/home/home.js")
            script(src="app/home/home.controller.js")
            script(src="app/report/report.js")
            script(src="app/report/report.controller.js")
            script(src="app/reconciliation/reconciliation.js")
            script(src="app/reconciliation/reconciliation.controller.js")
            script(src="function/transfer/transfer.js")
